<!DOCTYPE html>
<html>
  <head>
  <%= render "shared/meta_tags" %>
  </head>
  <body class="d-flex flex-column min-vh-100">
  <%= render "shared/header" %>

    <main class="flex-grow-1 bg-cream">
    <%= yield %>
    </main>

  <% if controller_name == "home" %> 
    <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
